@model IEnumerable<Token>

<table class="table table-bordered">
	<thead>
		<tr>
			<th scope="col">Rank</th>
			<th scope="col">Symbol</th>
			<th scope="col">Name</th>
			<th scope="col">Contract Address</th>
			<th scope="col">Total Holders</th>
			<th scope="col">Total Supply</th>
			<th scope="col">Total Supply %</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		@{
			int rank = 0;
		}
		@foreach (var item in Model)
		{
			<tr>
				<th scope="row">@(rank++ + 1)</th>
				<td>@item.symbol</td>
				<td>@item.name</td>
				<td>@item.contract_address</td>
				<td>@item.total_holders</td>
				<td>@item.total_supply</td>
				<td>30%</td>
				<td>Edit</td>
			</tr>
		}
	</tbody>
</table>